@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>UNIVERSIDAD TECNOLÒGICA DE PANAMÀ</h1>
        <h2 id="title">PROYECTO FINAL DESARROLLO DE SOFWARE V</h2>
        <p>PROFESOR: REGIS RIVERA </p>
        <p class="lead">ESTUDIANTE: HECTOR ORTEGA </p>
        <p>8-944-1541</p>

    </section>

</main>